<h1>ようこそ Bookers へ！</h1>
<p>Bookersでは、さまざまな書籍に関するあなたの意見や
印象を共有し交換することができます。</p>

<a href="/books">Start</a>

<h1>Books</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Body</th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th>show Edit Destroy</th>
    </tr>
</table>


